{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the homepage</h1>
                <p>See the about page <a href="/about">About Page</a> </p>
            </div>
        </div>
    </div>
{{end}}